.footer {
	display: flex;
	margin: 0 auto;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.footer a {
	padding-top: 1rem;
	text-decoration: none;
	color: var(--text-muted);
}

.footer a:hover {
	text-decoration: underline;
}
