.defaultButton {
	border: none;
	outline: none;
	min-width: clamp(
		12.8rem,
		45vw,
		25.6rem
	);
	padding: 0.4rem;
	border-radius: 0.8rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 3.2rem;
	transition: filter 100ms
		ease-in-out;
}

.defaultButton:hover {
	filter: brightness(80%);
}

.defaultButton svg {
	width: 3.2rem;
	height: 3.2rem;
}
